body{
    background-image: url('scpbck.jpg');
}
button{
    background: red;
    margin-top: 3%;
    width: 100px;
    height:30px;
    font-family:'sans-serif';
    font-size: 20px;
    border-color:brown;
    border-radius:20px;
    letter-spacing: 2px;
}
h1{
    color: grey;
}
p{
    color:red
}
b{
    color:red;
    margin-left:1000px;
    margin-top:40px;
    margin-bottom: 20px;
}
.btn{
    position: absolute;
    top:28%;
    left:15%;
}
.bta{
    position: absolute;
    top:40%;
    left:15%;
}
